body {
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 89%, rgba(2,0,36,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
}
.bberechnen {
    border: 1px solid cyan;
    border-radius: 1rem;
    animation-name: buttontransition;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes buttontransition {
    0% {
        border: 1px solid cyan;
        background: blue;
        color: cyan;
    }

    50% {
        border: 1px solid blue;
        background: cyan;
        color: blue;
    }

    100% {
        border: 1px solid cyan;
        background: blue;
        color: cyan;
    }
}

.input {
    border: 1px solid cyan;
    border-radius: 0.5rem;
}